@CHARSET "UTF-8";

html, body {
    background-color: #eee;
    color: #333;
    font-family: Verdana, Arial;
    height: 100%;
}

h3 {
    color: #369;
    margin: 0 0 20px 0;
}

.languages {
    font-size: 0.8em;
    margin: -10px 5px 5px 0;
    text-align: right;
}

.nav .pull-right a {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #eee;
    margin: 20px auto;
    max-width: 1024px;
}

.wraper {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: white;
    margin-top: -20px;
    min-height: 300px;
    padding: 20px;
}

.footer {
    font-size: 0.8em;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.danger {
    color: #900;
    font-size: 0.8em;
}